@tailwind base;
@tailwind components;
@tailwind utilities;

// # FONT CONFIG
@import "./fonts/fontConfig.css";
@import "./colors&variables.scss";

// # RESET CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
  font-weight: 300;
}

// # HOME SCSSS
.servicesSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: $max-width-section;
  margin: auto;
  padding: 3rem 20px;
  gap: 30px;
  @media (min-width: 767px) {
    flex-direction: row;
    .service {
      width: calc(100% / 2 - 30px);
      padding: 0;
    }
  }
  @media (min-width: 981px) {
    .service {
      width: calc(100% / 4 - 30px);
    }
  }
  @media (min-width: $max-width-section) {
    padding: 3rem 0px;
  }
}

// # GENERIC

// the line side text in footer and headText section
.line {
  width: 40px;
  height: 2px;
  background-color: $primary-color;
  border-radius: 1px;
}

// title and subtitle in every pega
.headSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .headText {
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        font-family: "Pacifico";
        color: $primary-color;
        font-weight: 500;
        font-size:20px;
      }
    }
    h3{
      font-size: 40px;
      font-family: 'Nunito';
      font-weight: 700;
    }
  }