// # VARIABLES
@import "../../../colors&variables.scss";

#menuSection {
  max-width: $max-width-section;
  margin: auto;
  padding: 3rem 20px;
  @media (min-width: $max-width-section) {
    padding: 3rem 0px;
  }
  .foodTypeSelectionContainer {
    display: flex;
    justify-content: flex-start;
    margin: 2rem 0;
    @media (min-width: 767px) {
      justify-content: center;
    }
    .foodTypeSelection {
      display: flex;
      flex-direction: column;
      width: 100%;
      flex-wrap: wrap;
      border-bottom: 1px solid rgba(0, 0, 0, 0.194);
      @media (min-width: 767px) {
        gap: 30px;
        flex-direction: row;
        width: auto;
      }
      .selection {
        padding: 2rem 0;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        min-width: 125px;
        &.activeMenu {
          border-bottom: 3px solid $primary-color;
        }
        .fa-solid {
          font-size: 35px;
          color: $primary-color;
        }
        span {
          line-height: 18px;
          font-size: 14px;
          &.bold {
            font-weight: bold;
            font-size: 16px;
          }
        }
      }
    }
  }
  .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    @media (min-width: 767px) {
      flex-direction: row;
      .menuCardContainer {
        width: calc(100% / 2 - 20px);
      }
    }
  }
}
