/* 100 */
@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Thin.ttf") format("truetype");
  font-weight: 100;
}
/* 200 */
@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}
/* 300 */
@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Light.ttf") format("truetype");
  font-weight: 300;
}
/* 400 */
@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Regular.ttf") format("truetype");
  font-weight: 400;
}
/* NORMAL */
@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Medium.ttf") format("truetype");
  font-weight: normal;
}
/* 600 */
@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
/* 700 */
@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Bold.ttf") format("truetype");
  font-weight: 700;
}
/* 800 */
@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
/* 900 */
@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Black.ttf") format("truetype");
  font-weight: 900;
}

/* NUNITO SANS */

/* 100 */
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-ExtraLight.ttf") format("truetype");
  font-weight: 100;
}
/* 200 */
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}
/* 300 */
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
}
/* 400 */
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
}
/* NORMAL */
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Medium.ttf") format("truetype");
  font-weight: normal;
}
/* 600 */
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
/* 700 */
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
}
/* 800 */
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
/* 900 */
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Black.ttf") format("truetype");
  font-weight: 900;
}

/* PACIFICO */
@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico-Regular.ttf") format("truetype");
  font-weight: normal;
}
