// -- VARIABLES
@import '../../../colors&variables.scss';

#chefCard{
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    border-radius: 3px;
    padding: 1rem 0;
    position: relative;
    margin-bottom: 40px;
    &:hover{
        .profileImgContainer{
            img{
                transform: scale(110%);
            }
        }
        .socialContainer{
            height: 40px;
        }
    }
    .profileImgContainer{
        padding: 20px;
        .profileImg{
            border-radius: 50%;
            overflow: hidden;
            img{
                transition: transform .5s ease;
            }
        }
    }
    .fullName,.role{
        display: flex;
        justify-content: center;
    }
    .fullName{
        span{
            font-size: 20px;
            font-weight: 700;
        }
    }
    .role{
        span{
            font-size: 14px;
            font-weight: 500;
            color: rgb(126, 126, 126);
        }
    }
    .socialContainer{
        height: 0px;
        width: 100%;
        background-color: #FFF;
        overflow: hidden;
        transition: all .5s ease;
        display: flex;
        justify-content: center;
        gap: 15px;
        position: absolute;
        top:100%;
        .socialMiniCard{
            background-color: $primary-color;
            min-width: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            .fa-brands{
                color: #FFF;
            }
        }
    }
}